.profileUpload__icon{
    background: rgba(0, 0, 0, .25);
    opacity: 0;
    visibility: hidden;
    top: 100%;
    transition: all .3s ease-in-out;
}

.profileUpload_container:hover .profileUpload__icon {
    opacity: 100%;
    visibility: visible;
    top: 0;
}

.loadingButton{
    border: 4px solid red;
    height: 10px;
    padding: rem;
}

/* ----- REACT CHAT ELEMENT ------- */
.rce-citem{
    background: #1f2937 !important;
    color: white !important; 
}

.rce-citem:hover{
    background: #374151 !important;
}

.rce-citem-body--top-time{
color: white !important; 
}

.rce-citem-body--bottom-title{
    color: #9ca3af!important;
}

.rce-citem-body--bottom-status span{
    background: #15803d !important;
}